body {
  font-family: arial, sans-serif;
  background: #ebe8e1;
}
h1 {
  color: gold;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ee846e;
  font-size: 12px;
  line-height: 19px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #87799e;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #38192c;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature.active {
  color: #ee846e;
  cursor: default;
}
.weather-temperature.active:hover {
  text-decoration: none;
}
